# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Counting-Bits.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Nixon\OneDrive\Documents\Najib\Programming Practice\Leetcode [WIP]\Counting-Bits\.idea\.idea.Counting-Bits.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
